* {
  box-sizing: border-box;
}
body {
  // padding-left: 188px;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  overflow: hidden;
}
.content {
  padding: 20px;
  flex-grow: 1;
  overflow: auto;
  height: 100vh;
  main {
    // to test scroll
    max-width: 200px;
  }
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  @include grid("sm");
}

@media (min-width: 768px) {
  @include grid("md");
}

@media (min-width: 992px) {
  @include grid("lg");
}

@media (min-width: 1200px) {
  @include grid("xl");
}
