@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=latin-ext");

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 300;
  color: $navy-blue;
  &:hover {
    color: $orangeLight;
  }
}

h1,
h2,
h3 {
  color: $gray;
  font-size: 16px;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}
h2 {
  border-bottom: 1px solid $grayLight;
  display: block;
  width: 100%;
  margin: 0;
  padding: 15px;
}
h3 {
  font-weight: 400;
}

p {
  font-size: 14px;
  color: $dark;
}
