button.btn {
  padding: 13px 20px;
  border: 0;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  color: white;
  background: $darkLight;
  font-size: 18px;
  &:hover {
    background: $gray;
  }
  &.btn-orange {
    background: $orange;
    &:hover {
      background: $orangeLight;
    }
  }
}
