ul {
  list-style: none;
  padding: 0;

  &.flex-list {
    li {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 20px 0;
      border-bottom: 1px solid $grayLight;

      span {
        font-weight: 100;
      }
    }
  }
}
