.sidebar {
  // position: fixed;
  flex: auto 0 auto;
  display: inline-block;
  top: 0;
  left: 0;
  min-height: 100vh;
  // max-width: 188px;
  background: #191919;
  // overflow: hidden;
  overflow: auto;
  z-index: 2;
  &::-webkit-scrollbar {
    display: none;
  }

  nav {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

    .burger {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: 20px;
      right: 20px;
    }

    input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      -webkit-touch-callout: none;
      ~ .burger span {
        transform: rotate(-45deg) translate(0, 5px);

        &:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }

        &:nth-last-child(2) {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -9px);
        }
      }
      &:checked {
        top: 0;
        ~ ul.sidebar--menu .sidebar--menu-title,
        ~ .sidebar--manager h3,
        ~ .sidebar--manager a,
        ~ a.sidebar--logo {
          display: none;
        }

        ~ .burger {
          display: block;
          margin: 0 auto;
          right: 0;
          left: 0;
          top: 0;

          span {
            transform: none;

            &:nth-last-child(3) {
              opacity: 1;
              transform: none;
            }

            &:nth-last-child(2) {
              transform: none;
            }
          }
        }

        ~ .sidebar--menu {
          padding-top: 66px;
          width: auto;
          transform: none;

          li {
            text-align: center;
          }
        }
      }
    }

    .burger span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #cdcdcd;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      &:first-child {
        transform-origin: 0% 0%;
      }
      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }
  }
}

.sidebar--menu {
  width: 188px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  // position: absolute;
  // width: 300px;
  // margin: -100px 0 0 -50px;
  // padding: 50px;
  // padding-top: 125px;

  // background: #ededed;
  // list-style-type: none;
  // -webkit-font-smoothing: antialiased;
  // /* to stop flickering of text in safari */

  // transform-origin: 0% 0%;
  // transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  li {
    font-size: 14px;
    color: $darkLight;
    padding: 12px 15px;
    border-left: 4px solid transparent;
    cursor: pointer;
    &.active,
    &:hover {
      color: $white;
      border-color: $orange;
    }
    i {
      padding-right: 15px;
    }
  }
}
.sidebar--logo,
.sidebar--manager {
  padding: 20px;
  display: inline-block;
}
.sidebar--manager {
  .sidebar--avatar {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    &:after {
      content: "";
      background: $red;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
    }
    &.active:after {
      background: $green;
    }
    img {
      border-radius: 50%;
      position: relative;
    }
  }
  .sidebar--manager-content {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .sidebar {
    flex: 1 0 auto;
  }
}
